# We don't need the configuration folder, it's created at runtime
config/

# We only need the basic files from azureus, the others can be ignored
site/lib/torrentmodules/tvAzureusBridge/azureusServer/*
!site/lib/torrentmodules/tvAzureusBridge/azureusServer/Azureus2.jar
!site/lib/torrentmodules/tvAzureusBridge/azureusServer/commons-cli.jar
!site/lib/torrentmodules/tvAzureusBridge/azureusServer/log4j.jar

# These files are for test purposes
downloads/
site/downloaded-files